// FÄRGER
$color-linjer: #0077ff;
$color-background: pink;
$color-box: rgb(250, 208, 215);
$color-logo-shirt: rgba(152, 41, 196, 0.878);
$color-logo-shirt-hover: rgb(255, 157, 0);
$color-box-produkt-phone: linear-gradient(to bottom,  rgba(255, 192, 203, 0.01)60%, pink 80%);
$color-box-produkt-screen: linear-gradient(to bottom, rgba(255, 192, 203, 0.84), rgba(251, 179, 191, 0.64));